doctype html
html
    head
        link(rel='stylesheet' href='css/style.css')
    body(ng-app='moviedb')
        div(ng-view)
        script(src='js/angular.min.js')
        script(src='js/angular-resource.min.js')
        script(src='js/angular-route.min.js')
        script(src='js/app.js')
        script(src='js/controllers/movie.js')
        script(src='js/controllers/main.js')
        script(src='js/services/movies.js')
        script(src='js/services/images.js')
        script(src='js/directives/movie.js')
        script(src='js/directives/movie-search.js')
        script(src='https://www.google.com/jsapi')